{% extends 'base.html' %}
{% load static %}

{% block body %}

{% block main %}


<section class="contact py-5 mt-5">
  <div class="container">
    
     
  
      <div class="row">
        <div class="contact-info">
          <div class="icon-box ">
            <div class="icon-box-icon">
              <i class="ion-ios-paper-plane"></i>
            </div>
            <div class="nav-footer">
              <h4>Say Hello</h4>
              <p>Email: <span class="color-a">EstateGuru@gmail.com</span></p>
              <p>Phone: <span class="color-a">+91 8888815555</span></p>
            </div>
          </div>

          <div class="icon-box mb-4">
            <div class="icon-box-icon">
              <i class="ion-ios-pin"></i>
            </div>
            <div class="nav-footer">
              <h4>Find Us</h4>
              <p>shiwaji chowk,kalyan,421400</p>
            </div>
          </div>

          <div class="icon-box">
            <div class="icon-box-icon">
              <i class="ion-ios-redo"></i>
            </div>
            <div class="icon-box-content">
            
              <nav class="nav-footer">
                <h4>Follow Us</h4>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <i class="bi bi-facebook"></i>  
                  </li>
                  <li class="list-inline-item">
                   <i class="bi bi-whatsapp"></i>
                    
                  </li>
                  <li class="list-inline-item">
                  <i class="bi bi-instagram"></i>
                   
                  </li>
                  <li class="list-inline-item">
                  <i class="bi bi-threads"></i>
                    
                  </li>
                 
                </ul>
              </nav>
    
    
            </div>
          </div>
        </div>
      </div>



  

</section>


{% endblock main %}

{% endblock body %}
